fastapi>=0.111.0
uvicorn>=0.30.1
requests>=2.32.3
pyjwt>=2.8.0
passlib>=1.7.4
bcrypt>=4.1.3
python-dotenv>=1.0.1
langchain>=0.2.1
langchain-aws
langchain-community
boto3
faiss-cpu
pydantic>=2.7.2
SpeechRecognition
